
.recipe-content .recipe-img{
    width:60%;
    height:auto;
    margin: 3%;
}
.recipe-content{
    text-align: center;
}
.recipe-content h1{
    padding:2%;
}
.recipe-text h5,p,ul li{
    text-align: justify;
}
.recipe-otherimg img{
    width: 200px;
    height: 200px;
    margin-bottom: 3%;
}
.subscription-recipe{
    padding:5%;
   margin:3% 0;
    background-color: rgba(100, 102, 98, 0.603);
}
.subscription-recipe .sub{
    background-color: black;
   border: 2px solid black;
    color: blanchedalmond;
    width:300px;
    margin-bottom: 2%;
}
.subscription-recipe input{
    margin-bottom: 2%;
    margin-right: 2%;
    width:300px;
}