.headbar{
    text-align: center;
    margin-top: 5%;
}
.headbar h1,h3{
    font-family: 'Dancing Script', cursive;
}
.headbar hr {
    margin: 3% 10%;
    border: 2px solid black;
    weight: bolder;
}
.column {
    text-align: center;
    margin-bottom: 5%;
}
.column img{
    width:300px;
    height: 200px;
}
.column:hover{
    cursor: pointer;
}
.column p{
    font-size: 12px;
    text-align: justify;
}
.more{
    font-size: 13px;
     
}
.content{
    margin: 2%;
}