.footer{
    margin-top: 3%;
    padding-top:3%;
    text-align: center;
    background-color: #cfd4d1;
    
}
.footer ul li{
    display: inline;
    text-decoration: none;
    padding-right: 3%;
    margin-top:2%;
    margin-bottom: 3%;
}
.footer ul li span i{
    font-size: 20px;
}
.footer .logo i{
    font-size: 50px;
    padding:1%;
    border-radius: 50%;
    border:2px solid black;
    margin-bottom: 2%;
}
.divide{
    margin:0 5%;
}
.footer p{
    margin-bottom: 0;
    padding-bottom: 2%;
}